--extra-index-url https://download.pytorch.org/whl/cu117
torch
setuptools<58.0.0
hazm
transformers
datasets
accelerate
pandas
numpy==1.20.3
bitsandbytes
git+https://github.com/huggingface/peft.git
trl
wandb